*
  margin 0
  padding 0
  box-sizing border-box

img 
  width 100%
  display block

body
  min-height 200vh
  font-family 'Yatra One', cursive

.pantalla-uno
  background-color aquamarine
  min-height 100vh
  min-width 100%

.pantalla-dos
  background-color green
  min-height 100vh
  min-width 100%

.wrapper
  position relative

h1
  position absolute
  margin 0
  font-size 5rem
  color gray

h2 
  position absolute
  font-size 5rem
  color black
  left -5px
  top 5px
  opacity .3